<div class='menu-item' [ngClass]="{'vertical-menu': menuService.isVertical}" [routerLink]='item.route' routerLinkActive='active' (click)="menuService.showVerticalMenu = false">
  <span class='icon'><img [src]='item.icon' ></span>
  <span>{{item.text}}</span>
</div>


<spa-popup-menu *ngIf="mouseInPopup || mouseInItem" [menu]='item.submenu' [ngClass]='{"vertical-menu": menuService.isVertical}' [style.left]='popupLeft+"px"' [style.top]='popupTop+"px"' (mouseleave)='onPopupMouseLeave($event)' (mouseenter)='onPopupMouseEnter($event)'></spa-popup-menu>